/* body {
    width: 100vw;
    height: 100vh;
    background: #1d1e21;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.kave-btn {
    position: relative;
    border: solid 1px rgba(0, 214, 252, 0.3);
    background: none;
    color: rgba(0, 214, 252, 0.5);
    /* font-family: "Roboto", sans-serif; */
    text-transform: uppercase;
    font-weight: normal;
    /* letter-spacing: 1.8px; */
    width: 150px;
    font-size: medium;
    height: 50px;
    padding: 0;
    transition: all 0.25s ease;
    outline: none;
    white-space: nowrap;
}
.kave-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 60px;
    height: 1px;
    transform: translateY(-1px);
    background: rgba(0, 214, 252, 1);
    transition: all 0.25s ease;
}
.kave-btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 60px;
    height: 1px;
    transform: translateY(1px);
    background: rgba(0, 214, 252, 1);
    transition: all 0.25s ease;
}
.kave-btn:hover {
    box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
    color: rgba(0, 214, 252, 1);
    text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
    filter: brightness(1.2);
}
.kave-btn:hover.kave-btn:before {
    left: 0;
    width: 20px;
}
.kave-btn:hover.kave-btn:after {
    right: 0;
    width: 20px;
}
.kave-btn:hover .kave-line:before {
    bottom: 0;
}
.kave-btn:hover .kave-line:after {
    top: 0;
}
.kave-line:before {
    content: "";
    position: absolute;
    bottom: 30%;
    right: 0;
    width: 1px;
    height: 20px;
    transform: translateX(1px);
    background: rgba(0, 214, 252, 1);
    transition: all 0.25s ease;
}
.kave-line:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    width: 1px;
    height: 20px;
    transform: translateX(-1px);
    background: rgba(0, 214, 252, 1);
    transition: all 0.25s ease;
}
