
.dynamic-folder{
    height: 30px;
    cursor: pointer;
    padding: 0
}
.dynamic-folder:hover{
    background-color: lightgray;
}
.semi-bordered{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.bordered-hard{
    border: 5px solid black
}
.input-custom{
    border-left: none;
}
parent-high{
    height: 100%;
}

.chat-messages span{
    font-size: 20px;
}
.chat-messages p{
    font-size: 20px;
}
.chat-messages{
    max-width: 100%;
}
.message-instance{
    width: 100%;
}

.die-result{
    color: black;
}
.die-result.green{
    color: rgb(5, 235, 5);
}
.die-result.red{
    color: rgb(241, 24, 24);
}
.message-username{
    font-size: 20px;
}