.code-container {
    /* resize: both; */
    overflow: hidden;
    /* margin: auto; */
    width: 100%;
    height: 100%;
    min-width: 240px;
    min-height: 150px;
    /* position: relative; */
    --glow-margin: 0px;
    filter: drop-shadow(0 0 15px rgb(3, 221, 255));
  }
  
  .code-container::before {
    content: attr(content);
    position: absolute;
    /* bottom: 90px;
    right: 90px; */
    z-index: 999;
    color: rgba(255, 200, 255, 0.747);
    text-shadow: 0 0 0px rgb(255, 255, 255);
    letter-spacing: 0.1em;
  }
  
  /* .code-container::after {
    content: "";
    background: linear-gradient(
      to right,
      transparent,
      black 25px, black 110px,
      transparent 110px 175px,
      black 175px, black calc(100% - 25px),
      transparent
    );
    position: absolute;
    top: 125px;
    left: var(--glow-margin);
    right: var(--glow-margin);
    height: 4px;
    display: block;
    z-index: 90;
    opacity: 0.5;
  } */
  
  .glow-container {
    position: absolute;
    inset: 0;
    display: grid;
    z-index: 2;
    pointer-events: none;
    --glow: drop-shadow(0 0 1px rgb(0, 17, 255));
    filter: var(--glow) brightness(3) drop-shadow(0 0 5px rgb(92, 74, 255));
  }
  
  .augs {
    --aug-rect-l1: initial;
    --aug-l1-width: 110px;
    --aug-l1-height: 4px;
    --aug-l-center: 57px;
    
    --aug-rect-r1: initial;
    --aug-r1-width: (100% - var(--aug-l1-width)) / 2;
    --aug-r1-height: 4px;
    --aug-r-center: 57px;
    
    --aug-clip-tr1: initial;
    --aug-tr1-alt-join-out: initial;
    --aug-tr1: 17px;
    --aug-clip-tr2: initial;
    --aug-tr2: 17px;
    --aug-tr-extend1: 50px;
    
    --aug-round-tl1: initial;
    --aug-tl1: 8px;
    --aug-round-br1: initial;
    --aug-br1: 8px;
    /* width: calc(100% - var(--glow-margin) * 2);
    height: calc(100% - var(--glow-margin) * 2); */
  }
  
  .glow-container .augs {
    --aug-border: initial;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(to bottom left, rgb(84, 100, 130), rgb(13, 0, 255));
  }
  .dots {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 110px;
    height: 50px;
    --red: #fc199a;
    --yellow: #ffcc00;
    --green: #61e2ff;
    --close: radial-gradient(circle, var(--red), var(--red) 7px, transparent 8px);
    background: var(--close) -28px no-repeat;
    filter: brightness(0.5);
    opacity: 0.75;
    cursor: pointer;
    border: none;
  }
  .dots:hover{
    opacity: 1;
    filter: brightness(85%)
  }
  
 
/*   
  .code {
    position: absolute;
    inset: 80px 10px 10px 10px;
    font-size: 20px;
    color: white;
    filter: brightness(1.2);
  } */
  .code * {
    font-size: 18px;
    font-weight: normal;
    color: #b5b4b6;
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  }
  
  /* body {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    --c: rgb(0 0 0 / 0.95);
    --bgb: linear-gradient(var(--c), var(--c));
    --bg: repeating-conic-gradient(
      from 7.5deg at center center,
      hsl(200, 100%, 0%) 0deg 15deg,
      hsl(200, 100%, 60%) 10deg 30deg
    );
    background: var(--bgb), var(--bg), black;
  } */
  
  * {
    font: normal 1em sans-serif;
    box-sizing: border-box;
    padding: 0;
    /* margin: 0; */
  }
  
  /* https://marketplace.visualstudio.com/items?itemName=webrender.synthwave-x-fluoromachine */
  .bg {
    background: rgb(75,225,255);
background: linear-gradient(0deg, rgba(75,225,255,0.7458333675266982) 0%, rgba(211,247,255,0.8242647400757178) 32%, rgba(211,247,255,0.8382703423166141) 64%, rgba(93,227,255,0.7598389697675946) 100%);
  }
  .bg::after{
    content:'';
    height:50%;
    width:100%;
    display:block;
    /* background-image:linear-gradient(90deg, rgba(252,25,154,.1) 1px, rgba(0,0,0,0) 1px), linear-gradient(0deg, rgba(252,25,154,.1) 1px, rgba(0,0,0,0) 1px); */
    background-position:bottom;
    background-repeat:repeat;
    background-size:20px 20px;
    left: -25px;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    transform: perspective(100px) rotateX(60deg);
    z-index: 0;
  }
  
  /* .CodeMirror-gutters {
    background: transparent;
    border: none;
    margin-right: 15px;
  }
  .CodeMirror {
    height: 100%;
    background: transparent;
  }
  .CodeMirror-linenumber {
    padding-right: 1em;
  }
  .CodeMirror-overlayscroll-horizontal div,
  .CodeMirror-overlayscroll-vertical div {
    background: rgba(153, 99, 255, 0.5);
  }
  .CodeMirror-scrollbar-filler { display: none!important; }
  

  
  .highcontrast-dark .cm-header {
    font-weight: bold
  }
  
  .highcontrast-dark .cm-strong {
    font-weight: bold
  }
  
  .highcontrast-dark .cm-em {
    font-style: italic
  }
  
  .highcontrast-dark .CodeMirror-cursor {
    border-left-color: white !important
  }
  
  .highcontrast-dark .CodeMirror-selected {
    background: rgba(255,255,255,0.05)
  }
  
  .highcontrast-dark .CodeMirror-focused .CodeMirror-selected {
    background: rgba(255,255,255,0.1)
  }
  
  .highcontrast-dark .CodeMirror-matchingbracket {
    border-bottom: 1px solid rgba(255,255,255,0.5)
  }
  
  .highcontrast-dark .CodeMirror-matchingtag {
    border-bottom: 1px solid rgba(255,255,255,0.3)
  }
  
  .highcontrast-dark .powers {
    border-bottom: 1px solid rgba(255,255,255,0.05)
  }
  
  .highcontrast-dark .cm-searching {
    background: black;
    outline: 2px solid rgba(255,255,255,0.25)
  }
  
  .highcontrast-dark .CodeMirror-hints,
  .highcontrast-dark .emmet-abbreviation-preview {
    border: 1px solid #5a5f73;
    background: #1e1f26
  }
  
  .highcontrast-dark .CodeMirror-hint {
    color: white
  }
  
  .highcontrast-dark li.CodeMirror-hint-active {
    background: #c7c9d3;
    color: black
  }
  
  .highcontrast-dark .project-editor-warning {
    background: rgba(255,255,255,0.1)
  }
  
  .highcontrast-dark .cm-atom {
    color: #9963ff;
  }
  
  .highcontrast-dark .box-html .cm-atom {
    color: #ff3c41
  }
  
  .highcontrast-dark .cm-def,
  .highcontrast-dark .cm-variable-2,
  .highcontrast-dark .cm-variable,
  .highcontrast-dark .box-js .cm-variable + .cm-property {
    color: #61e2ff;
    text-shadow: 0 0 2px #001716, 0 0 5px #03edf933, 0 0 10px #ffff6633;
  }
  
  .highcontrast-dark .cm-header {
    color: #ff3c41
  }
  .highcontrast-dark .cm-builtin {
    color: #ae63e4
  }
  
  .highcontrast-dark .cm-number {
    color: #9963ff;
  }
  
  
  .highcontrast-dark .cm-operator,
  .highcontrast-dark .cm-variable-3,
  .highcontrast-dark .cm-attribute,
  .highcontrast-dark .cm-property,
  .highcontrast-dark .cm-keyword,
  .highcontrast-dark .presentation > .cm-def,
  .highcontrast-dark .cm-qualifier {
    color: #fc199a;
    text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #fc199a, 0 0 2px #fc199a;
  }
  .highcontrast-dark .cm-operator,
  .highcontrast-dark .cm-variable-3,
  .highcontrast-dark .cm-attribute,
  .highcontrast-dark .cm-property {
    font-style: italic;
  }
  
  .highcontrast-dark .cm-meta,
  .highcontrast-dark .cm-meta + .cm-property,
  .highcontrast-dark .cm-string,
  .highcontrast-dark .cm-string-2 {
    color: #9963ff;
    text-shadow: none;
  }
  
  .highcontrast-dark .cm-tag,
  .highcontrast-dark .cm-callee,
  .highcontrast-dark .box-css .cm-tag,
  .highcontrast-dark .cm-tag.cm-bracket,
  .highcontrast-dark .box-js .cm-property  {
    color: #ffcc00;
    text-shadow: 0 0 2px #100c0f, 0 0 3px #ffaa0099, 0 0 5px #ffaa0099, 0 0 10px #ffaa0099;
    font-style: italic;
  }
  
  .highcontrast-dark .cm-comment {
    font-style: italic;
    color: #9963ff99;
    text-shadow: 0 0 2px #001716, 0 0 5px #03edf933, 0 0 10px #ffff6633;
  }
  
  body.editor.highcontrast-dark {
    background: #241b2f;
  }
  
  .highcontrast-dark .box.box.box,
  .editor.highcontrast-dark .top-boxes,
  .highcontrast-dark .CodeMirror-gutter-wrapper,
  body.project.highcontrast-dark .editor-pane,
  body.project.highcontrast-dark .editor {
    background: none;
  }
  .editor.highcontrast-dark .top-boxes {
    --swxfm__c: rgba(153, 99, 255);
    background: repeating-linear-gradient(
      to top,
      rgba(255, 255, 255, 0.03) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(to bottom, #200933 75%, #3d0b43);
  } */
  /* .editor.highcontrast-dark .top-boxes:after{
    content:'';
    height:300px;
    width:100%;
    display:block;
    background-image:linear-gradient(90deg, rgba(252,25,154,.1) 1px, rgba(0,0,0,0) 1px), linear-gradient(0deg, rgba(252,25,154,.1) 1px, rgba(0,0,0,0) 1px);
    background-position:bottom;
    background-repeat:repeat;
    background-size:20px 20px;
    left: -25px;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    transform: perspective(100px) rotateX(60deg);
    z-index: 0;
  } */
  
  /* .highcontrast-dark .box.box.box pre,
  .editor.highcontrast-dark .top-boxes pre,
  .highcontrast-dark .CodeMirror-gutter-wrapper pre,
  body.project.highcontrast-dark .editor-pane pre,
  body.project.highcontrast-dark .editor pre {
    color: #b5b4b6;
  }
  
  .highcontrast-dark .CodeMirror-guttermarker-subtle,
  .highcontrast-dark .CodeMirror-linenumber {
    color: #8a2dc066;
    text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #8a2dc066, 0 0 2px #8a2dc066;
  } */




  /* Character Sheet Version April START */
  .squaredThree {
    width: 20px;
    position: relative;
    /* margin: 10px ; */
 }
  .squaredThree label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, .4);
 }
  .squaredThree label:after {
    content: '';
    width: 12px;
    height: 7px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
 }
  .squaredThree label:hover::after {
    opacity: 0.3;
 }
  .squaredThree input[type=checkbox] {
    visibility: hidden;
 }
  .squaredThree input[type=checkbox]:checked + label:after {
    opacity: 1;
 }



  .squaredGrit {
    width: 20px;
    position: relative;
    /* margin: 10px ; */
 }
  .squaredGrit label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background:#fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
   }
  .squaredGrit label:after {
    content: '';
    width: 12px;
    height: 7px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
 }
  .squaredGrit label:hover::after {
    opacity: 0.3;
 }
  .squaredGrit input[type=checkbox] {
    visibility: hidden;
 }
  .squaredGrit input[type=checkbox]:checked + label:after {
    opacity: 1;
 }
  
 .charSheetContainer{
   min-width: 244px;
   overflow: visible;
 }

 .clickable-stat{
   cursor:pointer;
   transition:all ease 300ms;
 }
 .clickable-stat:hover{
   color: rgb(158, 0, 0)
 }
 
  /* Character Sheet Version April END */